<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510301305479-jekak49sgv4jptbpg66b2t8l9m8ptuof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510301305479-jekak49sgv4jptbpg66b2t8l9m8ptuof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510301305479-uhvnt24pa5e2ik4gr4ec8tr710o7m73r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrjhuUVm6TbpnCpoKibkJI17-WLdPo_RU</string>
	<key>GCM_SENDER_ID</key>
	<string>510301305479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pgfinder.pgFinder</string>
	<key>PROJECT_ID</key>
	<string>solution-challenge-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>solution-challenge-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510301305479:ios:444b328b55d788c970d622</string>
	<key>DATABASE_URL</key>
	<string>https://solution-challenge-2020.firebaseio.com</string>
</dict>
</plist>